@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Noto+Sans+KR:wght@100..900&family=Oleo+Script:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}


body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
    background-color: black;
}


/* 전체 스타일링 */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-right: 50px;
  background-color: #141414;
  color: #fff;
  }
  
  
  .logoimg {
      height: 100px;
  }
  
  .nav-links {
      display: flex;
      list-style: none;
  }
  
  .nav-links li {
      margin-left: 30px;
  }
  
  .nav-links a {
      color: #fff;
      text-decoration: none;
      font-size: 17px;
  }
  
  /* 햄버거 바 스타일링 */
  .burger {
      display: none;
      cursor: pointer;
      z-index: 12;
  }
  
  .burger div {
      width: 25px;
      height: 3px;
      background-color: #fff;
      margin: 5px;
      transition: all 0.3s ease;
      z-index: 12;
  }
  
  .logo img{
      height: 50px;
  }
  
  
  /* 반응형 스타일링 */
  @media screen and (max-width: 412px) {

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      padding-right: 20px;
      background-color: #141414;
      color: #fff;
      }

      .nav-links {
      position: fixed;
      right: 0px;
      height: 800px;
      top: 0;
      background-color: #141414;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
      visibility: hidden;
      z-index: 3;
      }
  
      .logo img{
          height: 50px;
      }
  
  
      .nav{
      position: relative;
      }
      .nav-links li {
      font-size: 24px;
      opacity: 0;
      line-height: 3;
      }
  
      .burger {
      position: absolute;
      display: block;
      z-index: 12;
      margin-left: -40px;
      margin-top: -15px;
      }
  }
  
  .nav-active {
      transform: translateX(0%);
      visibility: visible;
  }
  
  @keyframes navLinkFade {
      from {
      opacity: 0;
      transform: translateX(50px);
      }
      to {
      opacity: 1;
      transform: translateX(0px);
      }
  }
  
  .toggle .line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .toggle .line2 {
      opacity: 0;
  }
  
  .toggle .line3 {
      transform: rotate(45deg) translate(-5px, -6px);
  }