@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=Noto+Sans+KR:wght@100..900&family=Oleo+Script:wght@400;700&display=swap");



/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #0008ff #000000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #0008ff;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

/* Scroll to top button styles */
#scrollToTopBtn {
  width: 60px;
  height: 60px;
  display: none; /* Initially hidden */
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s, opacity 0.3s;
  opacity: 0;
}

#scrollToTopBtn.show {
  display: block;
  opacity: 1;
}

#scrollToTopBtn:hover {
  background-color: #ffffff;
  transform: scale(1.1);
}

#scrollToTopBtn:hover i{
  color: #2181ff;
}


.cursor {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(70, 82, 255);
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim .5s infinite alternate;
  pointer-events: none;
  z-index: 100;
}

.cursor::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  border: 8px solid rgb(48, 28, 224);
  border-radius: 50%;
  opacity: .5;
  top: -8px;
  left: -8px;
  animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.7);
  }
}

@keyframes cursorAnim2 {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.4);
  }
}

@keyframes cursorAnim3 {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(3);
  }
  100% {
      transform: scale(1);
      opacity: 0;
  }
}

.expand {
  animation: cursorAnim3 .5s forwards;
  border: 1px solid rgb(0, 68, 255);
}


/* start animation */


* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #141414;
}

/* 슬라이드 전환 애니메이션 */
.slide-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(71, 89, 255);
  transform: translateX(100%);
  transition: transform 1s ease-in-out;
  z-index: 200;
  clip-path: url(#wave); /* SVG 클립 패스를 사용하여 물결 모양을 적용합니다 */
}

.slide-container.slide-in {
  transform: translateX(0%);
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}



/* 전체 스타일링 */
/* 전체 스타일링 */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-right: 50px;
  background-color: #141414;
  color: #fff;
  }
  
  
  .logoimg {
      height: 100px;
  }
  
  .nav-links {
      display: flex;
      list-style: none;
  }
  
  .nav-links li {
      padding-left: 30px;
  }
  
  .nav-links a {
      color: #fff;
      text-decoration: none;
      font-size: 17px;
  }
  
  /* 햄버거 바 스타일링 */
  .burger {
      display: none;
      cursor: pointer;
      z-index: 12;
  }
  
  .burger div {
      width: 25px;
      height: 3px;
      background-color: #fff;
      margin: 5px;
      transition: all 0.3s ease;
      z-index: 12;
  }
  
  .logo img{
      height: 50px;
  }
  
  
  /* 반응형 스타일링 */
  @media screen and (max-width: 430px) {

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      padding-right: 20px;
      background-color: #141414;
      color: #fff;
      }

      .nav-links {
      position: fixed;
      right: 0;
      width: 100%;
      height: 800px;
      top: 0;
      background-color: #141414;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
      visibility: hidden;
      z-index: 3;
      }
  
      .logo img{
          height: 50px;
      }
  
  
      .nav{
      position: relative;
      }
      .nav-links li {
      font-size: 24px;
      opacity: 0;
      line-height: 3;
      }
  
      .burger {
      position: absolute;
      display: block;
      z-index: 12;
      margin-left: -40px;
      margin-top: -15px;
      }
  }
  
  .nav-active {
      transform: translateX(0%);
      visibility: visible;
  }
  
  @keyframes navLinkFade {
      from {
      opacity: 0;
      transform: translateX(50px);
      }
      to {
      opacity: 1;
      transform: translateX(0px);
      }
  }
  
  .toggle .line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .toggle .line2 {
      opacity: 0;
  }
  
  .toggle .line3 {
      transform: rotate(45deg) translate(-5px, -6px);
  }





/* 메인 페이지 스타일링 */

.main {
  color: white;
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 200px;
  }
  
  .mainen {
      font-size: 5vw;
      font-family: "Oleo Script", system-ui;
      font-weight: 500;
  }
  
  .mainkr {
      font-size: 1.7vw;
      text-align: center;
  }
  

  .more {
      width: 100%;
      height: auto;
      text-align: center;
      color: white;
      padding-top: 100px;
      padding-bottom: 200px;
  }
  
  .drop1 {
      padding-top: 20px;
  }
  
  .drop1 img {
      width: 24px;
      height: 38px;
  }
  
  .morettx {
      font-family: "Noto Sans KR", sans-serif;
      font-weight: 200;
  
  }
  
  .more1 {
      width: 100%;
      text-align: center;
      font-weight: lighter;
      color: white;
      padding-top: 300px;
  }
  
      
      .scrollttx {
          width: 100%;
          font-size: 10vw;
          text-transform: uppercase;
          color: transparent;
          -webkit-text-stroke-width: 0.1px;
          color: #b4b4b4;
          white-space: nowrap;
          letter-spacing: 1px;
          animation: move-rtl 16000ms linear infinite;
      }
      
      .waterdrop {
          width: 10vw;
          vertical-align: middle;
          opacity: 70%;
      }
      
      @keyframes move-rtl {
          0% {
          transform: translateX(0);
          }
          100% {
          transform: translateX(-100%);
          }
      }

/* ui 콘테이너 스타일링 */

      .text-wraper {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          overflow: hidden;
          padding-top: 345px;
          z-index: 1;
      }

.ui_container {
  position: absolute;
  width: 80%;
  display: flex;
  top: 43rem;
  padding-top: 17rem;
/*   outline: solid 1px red; */
}

.ui_wrap {
  width: 100%;
  display: flex;
  gap: 40px;
}

.background {
  position: absolute;
  width: 64%;
  height: 300px;
  border-radius: 20px;
  background-color: #124d93; /* 파란색 배경 */
  left: 18.5%;
  top: 56%;
}

.background2 {
  position: absolute;
  width: 64%;
  height: 300px;
  border-radius: 20px;
  background-color: #124d93; /* 파란색 배경 */
  right: -11%;
  top: 70px;
}

.watertext {
  position: absolute;
  margin-left: 350px;
  color: white;
  padding-top: 60px;
}

.waterani{
  padding-left: 30px;
}


/* Waterflow animation */
@keyframes waterFlow {
    0% {
        top: 72%;
        height: 0;
    }
    100% {
        top: 72%;
        height: 100vh; /* Adjust as needed */
    }
}

.waterflow {
    position: absolute;
    left: 50%; /* Adjust this as needed */
    width: 10px;
    background-color: rgba(0, 0, 255, 0.5);
    z-index: 1;
    animation: waterFlow 1.5s forwards;
}


/* CSS에서 추가될 수 있는 애니메이션 스타일 */
@keyframes expandWidthLeft {
  from {
    width: 1100px; /* 시작 너비 */
  }
  to {
    width: 1400px; /* 늘어난 너비 */
    margin-left: -19%; /* 넓어지면서 왼쪽으로 이동하도록 마진 조정 */
  }
}

@keyframes expandWidthRight {
  from {
    width: 1200px; /* 시작 너비 */
  }
  to {
    width: 1400px; /* 늘어난 너비 */
    margin-right: -14%; /* 넓어지면서 오른쪽으로 이동하도록 마진 조정 */
  }
}

.image-container {
  position: relative;
  width: 300px /* 이미지의 너비 */;
  height: 500px /* 이미지의 높이 */;
  left: 25%;
  padding-top: 150px;
}

.image-container img {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 14%;
  color: #f1f1f1; /* 글자 색상 */
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  text-align: left;
  padding: 20px;
  font-size: 25px;
  font-weight: bold; /* 원하는 글자 크기 */
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay2 {
  position: absolute;
  bottom: 6%;
  color: #f1f1f1; /* 글자 색상 */
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  text-align: left;
  padding: 20px;
  font-size: 20px; /* 원하는 글자 크기 */
}

.image-container:hover .overlay2 {
  opacity: 1;
}

.ui {
  width: 120px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.425);
  border-radius: 5%;
  border-style: none;
  color: white;
}



.text-wraper2 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  padding-top: 625px;
  z-index: 1;
}

.scrollttx2 {
  font-size: 8vw;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke-width: 0.1px;
  color: #b4b4b4;
  white-space: nowrap;
  letter-spacing: 1px;
  animation: move-rtl 16000ms linear infinite;
}

.waterdrop2 {
  width: 10vw;
  vertical-align: middle;
  opacity: 70%;
}

@keyframes move-rtl {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.web_container {
  width: 80%;
  position: relative;
/*   outline: solid 1px red; */
  margin-top: -390px;
}


/* web 콘테이너 스타일 */
.webwater {
  width: auto;
  position: absolute; /* 절대 위치를 사용하여 위치를 직접 지정합니다. */
  left: 90%;
  text-wrap: nowrap;
  margin-top: -100px;
  padding-right: 20px; /* 오른쪽 여백을 추가하여 조금 더 안쪽으로 이동시킵니다. */
  color: white;
}

.artical_container {
  width: 100%;
  display: flex;
  position: relative;
}

.artical_web {
  width: 100%;
  display: flex;
  gap: 30px;
  z-index: 2;
  padding-left: 35%;
}



.artical, .artical2, .artical3 {
  width: 330px;
  height: 430px;
  background-color: rgb(255, 255, 255);
  border-radius: 38px;
  overflow: hidden;
}

.artical::after {
  content: "";
  position: absolute;
  left: -10px; /* 그림자 위치 조정 */
  top: 10px;
  width: 330px;
  height: 430px;
  background-color: #f37423; /* 그림자 색상 및 투명도 조정 */
  border-radius: 38px;
  z-index: -1;
}

.artical2 {
  width: 330px;
  height: 430px;
  background-color: rgb(255, 255, 255);
  border-radius: 38px;
  overflow: hidden; /* 가상 요소가 요소 바깥으로 나가는 것을 방지 */
}

.artical2::after {
  content: "";
  position: absolute;
  left: -10px; /* 그림자 위치 조정 */
  top: 10px;
  width: 330px;
  height: 430px;
  background-color: #f2c6cf; /* 그림자 색상 및 투명도 조정 */
  border-radius: 38px;

  z-index: -1;
}

.artical3 {
  width: 330px;
  height: 430px;
  background-color: rgb(255, 255, 255);
  border-radius: 38px;
  overflow: hidden; /* 가상 요소가 요소 바깥으로 나가는 것을 방지 */
}

.artical3::after {
  content: "";
  position: absolute;
  left: -10px; /* 그림자 위치 조정 */
  top: 10px;
  width: 330px;
  height: 430px;
  background-color: #0075ff; /* 그림자 색상 및 투명도 조정 */
  border-radius: 38px;

  z-index: -1;
}

.date_div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #354555;
  color: white;
  display: flex; /* Flexbox를 활용합니다 */
  justify-content: center; /* 가로 방향에서 중앙 정렬 */
  align-items: center;
  margin-top: 17px;
  margin-left: 260px;
}

.date {
  font-size: 13px;
}

.artical_text {
  color: rgb(0, 0, 0);
  top: 10%;
  margin-left: 30px;
}

.artttx {
  font-family: "League Gothic", sans-serif;
  font-size: 40px;
  font-weight: 300;
}

.artttx2 {
  font-size: 15px;
}

.artbtt {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* 버튼 사이의 간격을 10px로 설정 */
  margin-left: 270px;
  top: 25%;
  z-index: 3;
}

.webbtn {
  width: 97px;
  height: 30px;
  border-style: none;
  border-radius: 25.5px;
  background-color: #f19357;
  color: white;
  font-size: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-left: -20px;
}

.webbtn2 {
  width: 97px;
  height: 30px;
  border-style: none;
  border-radius: 25.5px;
  background-color: #f2c6cf;
  color: white;
  font-size: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding-left: -20px;
}

.webbtn3 {
  width: 97px;
  height: 30px;
  border-style: none;
  border-radius: 25.5px;
  background-color: #0075ff;
  color: white;
  font-size: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-left: -20px;
}

.web1 {
  padding-top: 10px;
  padding-left: 18px;
}

.artical_hover {
  width: 330px;
  height: 430px;
  position: relative;
  cursor: none;
}

.view_container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.view_text {
  position: absolute;
  visibility: hidden;
  pointer-events: none; /* 마우스 이벤트가 텍스트를 통과하도록 */
  position: absolute; /* 위치를 절대적으로 설정 */
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 100px;
  backdrop-filter: blur(10px);
  display: flex; /* 항상 보이도록 설정 */
}

@keyframes drawVerticalLine {
  from {
    height: 0;
  }
  to {
    height: 217%; /* 선을 그리고자 하는 최종 높이 */
  }
}

.drop2 {
  display: block;
  width: 20px;
  height: 20px;
  background-color:  blue;
  border-radius: 50%;
  margin: 20px auto 0;
}

.verticalLine {
  position: absolute;
  width: 3px; /* 선의 두께 설정 */
  background-color: blue; /* 선의 색상 설정 */
  left: 49.9%;
  z-index: -3; /* drop1과 drop2 사이의 중간 위치에 선을 배치 */
}

.post_container {
  width: 100%;
  display: flex;
  padding-top: 300px;
  position: relative;
/*   outline: solid 1px red; */
}

.post_title {
  height: auto;
  color: white;
  padding-left: 12%;
  z-index: 7;
}

.post_title2 {
  height: auto;
  color: white;
  padding-left: 15%;

}

.posttx {
  width: 100%;
  font-size: 7vw;
  white-space: nowrap;
  font-family: "League Gothic", sans-serif;
  font-weight: 500;
  position: relative;
  background: linear-gradient(to right, #0075ff 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease;
/*   -webkit-background-clip: text; */
  z-index: 7;
  color: transparent; /* Make the text color transparent to show the background */
}

.posttx:hover {
  background-position: left bottom;
}

.posttx2 {
  width: 20%;
  font-size: 15vw;
  font-family: "League Gothic", sans-serif;
  font-weight: 300;
}

.postart_container { 
  max-width: 100%; 
  display: flex;
  position: absolute;
  gap: 5vw;
  padding-top: 220px;
  padding-left: 28vw;
/*   outline: solid 1px rgb(0, 255, 85); */
}


.last{
  width: 100%;
  height: auto;
  padding-top: 170px;
  padding-bottom: 100px;
}


.last_wrap{
  width: 100%;
  text-align: center;
  
}

.contact{
  color: white;
  font-size: 3vw;
}


:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}



.hero-section{
  align-items: flex-start;
  background-image: linear-gradient(15deg, #141414 0%, #141414 150%);
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
  background-color: #141414;
  padding-top: 40px;
}

.card1-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .card1-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card1-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
}

.card1{
  list-style: none;
  position: relative;
}

.card1:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card1__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card1:hover .card1__background{
  transform: scale(1.05) translateZ(0);
}

.card1-grid:hover > .card1:not(:hover) .card1__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card1__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card1__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
  text-align: left;
}

.card1__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
  text-align: left;
}



.nwttx {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}



.swiper {
  width: 80%;
  height: 100%;
  margin-top: 100px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ffffff00;

  /* 이미지와 정보 바를 세로로 정렬하기 위한 스타일 */
  display: flex;
  flex-direction: column;
}

.swiper-slide img {
  width: 100%;
  height: 400px;
  border-radius: 10px;
}

.info-bar {
  height: 80px;
  display: flex; /* Flexbox를 사용하여 자식 요소 정렬 */
  align-items: center; /* 수직 정렬 */
  justify-content: space-between; /* 좌우 끝으로 정렬 */
  opacity: 0; /* 투명하게 설정 */
  background-color: blue;
  color: white;
  text-align: center;
  border-radius: 0px 0px 20px 20px;
  transition: opacity 0.5s ease-in-out; /* 전환 효과 추가 */
  max-height: 0; /* 숨긴 상태에서의 높이를 0으로 설정 */
  overflow: hidden; /* 숨김 처리 */
  padding: 0 20px; /* 텍스트와 바깥 경계 사이의 여백 추가 */
}

.swiper-slide:hover .info-bar {
  opacity: 1; /* 마우스 오버 시 불투명하게 설정 */
  max-height: 100px; /* 원하는 높이로 설정 */
}

.info-bar .left-text {
  text-align: left;
}

.info-bar .right-text {
  text-align: right;
}

/* .cdcontainer {
  width: 100%;
  display: flex;
  color: white;
  box-sizing: border-box;
} */

.card_container {
  display: flex;
  row-gap: 3.5rem;
  gap: 40px;
  margin-top: 400px;
  position: relative;
  color: rgb(0, 0, 0);
/*   outline: solid 1px red; */
}





@keyframes bubble {
  to {
    box-shadow: 0 0 0 20px #1741955c;
  }
}
@keyframes bubble {
  to {
    box-shadow: 0 0 0 20px #1741955c;
  }
}


.artical_card {
  width: 90vw; /* 화면의 너비에 따라 90%의 너비를 가짐 */
  height: 75vh;
}

.artcd {
  max-width: 1500px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 4;
  gap: 40px;
  margin-left: -300px;
}



.card_data {
  display: flex;
  justify-content: space-between;
  align-items: "";
  width: 650px;
  height: 60px;
  background-color: blue;
  padding: 15px 20px;
  box-shadow: 0 8px 25px hsla(0, 0%, 0%, 0.15);
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transform: opacity 1s 1s;
}

.card_description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 0.75rem;
  padding-top: 6px;
  font-size: 37px;
  font-family: "Oleo Script", system-ui;
}

.card_button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  font-size: 37px;
}

.card_button:hover {
  text-decoration: none;
}

.artical_card:hover .card_data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity 0.3s;
}

.artical_card:hover {
  animation: remove-overflow 2s forwards;
}

.artical_card:not(:hover) {
  animation: show-overflow 2s forwards;
}

.artical_card:not(:hover) .card_data {
  animation: remove-data 1s forwards;
}

@keyframes show-data {
  50% {
    transform: translateY(-19rem);
  }
  100% {
    transform: translateY(-13rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  0% {
    transform: translateY(0.5rem);
  }
}

.footer {
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: #141414;
  margin: 0 auto;
  margin-top: 460px;
} 

.container {
  width: 100%;
}

.footerwrap {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  padding-top: 80px;
}

.footer-container {
  width: 100%;
  height: 100%;
  text-align: left;
  padding-top: 380px;
  padding-left: 120px;
}


.footer-container1 {
  width: 100%;
  height: 100%;
  text-align: left;
  padding-top: 380px;
  padding-left: 320px;
}

.navigation-title {
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
  text-align: left;
  color: white;
  font-weight: bold;
  font-size: 32px;
}

.navigation-title::after {
  content: "";
  position: absolute;
  width: 140%; /* 선의 길이 조절 */
  height: 1px;
  background-color: rgb(255, 255, 255);
  bottom: -5px;
  left: -1%; /* 선의 시작 위치를 조정하여 가운데 맞춤 */
  top: 50px;
}

.navigation-links {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0 0; /* 선과의 간격 조절 */
  text-align: left;
}

.navigation-links li {
  display: flex;
  margin-bottom: 5px; /* 링크 간의 간격 */
  color: white;
  font-weight: lighter;
  font-size: 32px;
  line-height: 52px;
}

.icons1 {
  margin-top: 1px;
  cursor: pointer;
}

.icons1:hover + .iconttx {
  display: block;
}

.icons2:hover + .iconttx2 {
  display: block;
}

.icons2 {
  margin-top: 10px;
  cursor: pointer;
}

.iconttx {
  font-size: 24px;
  font-weight: 200;
  padding-left: 20px;
  display: none;
}

.iconttx2 {
  font-size: 24px;
  font-weight: 200;
  padding-left: 20px;
  padding-top: 10px;
  display: none;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 60px;
}

.container::before,
.container::after {
  content: "";
  position: absolute;
  height: 7px; /* 선의 두께 */
  background-color: rgb(255, 255, 255); /* 선의 색상 */
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.container::before {
  left: 0;
  right: 50%;
  margin-right: 10px; /* 문구와 선 사이의 간격 */
}

.container::after {
  right: 0;
  left: 50%;
  margin-left: 10px; /* 문구와 선 사이의 간격 */
}

.text {
  width: 50vw; /* 화면 너비의 80% */
  height: 20vh; /* 화면 높이의 20% */
  background-color: #141414;
  text-align: center;
  font-size: 10vw; /* 화면 너비의 10% */
  color: white; /* 문구 색상 */
  font-family: "League Gothic", sans-serif;
  z-index: 2;
}

.wave {
  margin-left: 15px;
  margin-right: 15px;
}

.won {
  width: 138px;
  height: 138px;
  border-radius: 50%;
  background-color: white;
  background-image: url("image/waterwave.png");
  background-position: 20% -280%;
  background-repeat: no-repeat; /* 배경 이미지 설정 */
  transition: background-position 2.5s ease; /* 위치 변경에 대한 부드러운 전환 효과 */
  border-style: none;
}

.won:hover {
  background-position: 60% 100%; /* hover 시 이미지 위치 변경 (왼쪽 위로) */
}


/* 텍스트 꾸미기 */
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(82, 60%, 28%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: .813rem;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: .875rem;
  }
}



@keyframes wave-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.wave-text {
  position: relative;
  display: inline-block;
  font-size: 2em; /* 원하는 글자 크기로 설정 */
  color: #000;
  background: linear-gradient(90deg, 
    rgba(91, 91, 255, 0.5) 25%, 
    rgba(255, 255, 255, 0.5) 50%, 
    rgba(0, 0, 255, 0.5) 75%);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: wave-animation 4s linear infinite;
  font-family: "League Gothic", sans-serif;
  font-weight: 500;
}

.wave-text2{
  position: relative;
  display: inline-block;
  font-size: 3em; /* 원하는 글자 크기로 설정 */
  color: #000;
  background: linear-gradient(90deg, 
    rgba(91, 91, 255, 0.5) 25%, 
    rgba(255, 255, 255, 0.5) 50%, 
    rgba(0, 0, 255, 0.5) 75%);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: wave-animation 4s linear infinite;
  padding-left: 10%;
  padding-top: 200px;
  font-family: "League Gothic", sans-serif;
  font-weight: 500;
}




/* water text */
.wrapper {
	position: relative;
}

.wrapper h1 {
	color: #fff;
	font-size: 8em;
	position: absolute;
	transform: translate(-50%, -50%);
}

.wrapper h1:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #007bff;
}

.wrapper h1:nth-child(2) {
	color: #007bff;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}






@media screen and (max-width: 430px) {

  

  

.by_navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #141414;
  padding: 1rem 0rem;
}

  .navbar .logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }

  .by_navbar .logo img {
    width: 80px;
    padding-left: 6px;
  }

  .nav-menu {
    display: flex;
  }

  .nav-menu a {
    display: none;
  }

  .nav-item {
    margin-left: 60px;
    text-decoration: none;
    color: white;
    font-size: 25px;
  }

  .nav-item:hover {
    text-decoration: none;
  }

  .by_nav-menu i {
    font-size: 24px;
    cursor: pointer;
    display: block;
  }
  .by_navbar .by_nav-menu .by_nav-item{
    display: none;
  }
  
  .by_nav-menu .by_nav-item {
    display: none; /* 기존: 없음, 추가됨 */
  }

  .open-menu,
  .close-menu {
    display: block; /* 기존: 없음, 추가됨 */
  }


  .open-menu {
    position: absolute;
    top: 30px;
    padding-right: 10px;
  }

  .close-menu i {
    display: none;
  }


  .menu-overlay {
    position: fixed; /* 기존: 없음, 추가됨 */
    top: 0; /* 기존: 없음, 추가됨 */
    right: -100%; /* 기존: 없음, 추가됨 */
    height: 800px; /* 기존: 없음, 추가됨 */
    width: 430px; /* 기존: 없음, 추가됨 */
    background-color: #141414; /* 기존: 없음, 추가됨 */
    display: flex; /* 기존: 없음, 추가됨 */
    flex-direction: column; /* 기존: 없음, 추가됨 */
    align-items: center; /* 기존: 없음, 추가됨 */
    justify-content: center; /* 기존: 없음, 추가됨 */
    transition: right 0.3s ease-in-out; /* 기존: 없음, 추가됨 */
    z-index: 1000; /* 기존: 없음, 추가됨 */
  }
  
  .menu-overlay .by_nav-item {
    color: #fff; /* 기존: 없음, 추가됨 */
    font-size: 25px; /* 기존: 없음, 추가됨 */
    text-decoration: none; /* 기존: 없음, 추가됨 */
    margin: 20px 0; /* 기존: 없음, 추가됨 */
  }
  

  .menu-overlay img{
    position: absolute;
    top: 16px;
    left: 7px;
    width: 78px;
  }

  .mainen {
    font-size: 30px;
    text-align: left;
    font-family: "Oleo Script", system-ui;
    font-weight: 500;
    margin-left: 60px;
  }

  .main {
    margin-top: 25px;
  }

  .mainen {
    font-size: 18px;
    text-align: left;
  }

  .mainkr {
    width: 200px;
    font-size: 18px;
    text-align: left;
    margin-left: 60px;
  }

  .more {
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: lighter;
    color: white;
    margin-top: 0px;
    font-size: 10px;
  }

  .ui_container {
    position: absolute;
    max-width: 602px;
    overflow-x: auto;
    display: flex;
    gap: 1px;
    top: 30%;
    left: 9%;
    padding-top: 0;
  }

  .background {
    position: absolute;
    width: 1100px;
    height: 300px;
    border-radius: 20px;
    background-color: #124d93; /* 파란색 배경 */
    left: 13%;
    top: 30%;
    opacity: 0;
    display: none;
  }

  .background2 {
    position: absolute;
    width: 1000px;
    height: 300px;
    border-radius: 20px;
    background-color: #124d93; /* 파란색 배경 */
    right: 7%;
    top: 70px;
    opacity: 0;
  }

  .watertext {
    width: 300px;
    font-size: 20px;
    margin-top: 35px;
    position: absolute;
    margin-left: 83px;
    color: white;
  }

  .waterani {
    font-family: "League Gothic", sans-serif;
    font-weight: 300;
  }

  .image-container {
    position: relative;
    width: 300px /* 이미지의 너비 */;
    height: 500px /* 이미지의 높이 */;
    left: 17%;
    margin-top: 00px;
  }

  .image-container img {
    width: 230px;
    height: auto;
  }

  .overlay {
    position: relative;
    margin-top: -50px;
    color: #f1f1f1; /* 글자 색상 */
    width: 230px;
    transition: 0.5s ease;
    opacity: 1;
    text-align: left;
    padding: 20px;
    font-size: 16px;
    font-weight: bold; /* 원하는 글자 크기 */
  }

  .overlay2 {
    display: flex;
    position: absolute;
    top: 64%;
    color: #f1f1f1; /* 글자 색상 */
    width: 230px;
    transition: 0.5s ease;
    opacity: 1;
    text-align: left;
    padding: 20px;
    margin-top: 18px; /* 원하는 글자 크기 */
    margin-left: -10px;
  }

  .drop1 img {
    width: 14px;
    height: 25px;
  }

  .morettx {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 200;
    margin-top: -50px;
  
  }

  .more1 {
    width: 100%;
    text-align: center;
    font-weight: lighter;
    color: white;
    padding-top: 130px;
}

  .drop2 {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #0075ff;
    border-radius: 50%;
    margin: 20px auto 0;
    margin-top: 00px;
  }

  .ui {
    width: 90px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.425);
    border-radius: 5%;
    border-style: none;
    color: white;
    font-size: 10px;
    margin-left: 10px;
  }

  .text-wraper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    margin-top: 345px;
    z-index: 1;
    opacity: 0;
  }

  .text-wraper2 {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    margin-top: 45px;
    z-index: 1;
    opacity: 0;
  }


  
  .web_container {
    width: 100%;
    position: relative;
    margin-top: -930px;
  }


  .webwater {
    position: absolute;
    left: 33%;
    color: white;
    font-family: "League Gothic", sans-serif;
    font-weight: 400;
    font-size: 34px;
    text-align: center;
    padding-right: 0;
  }

  .artical_container {
    width: 100%;
    display: flex;
    position: relative;
  }

  .artical_web {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    gap: 60px;
    top: 165%;
    padding-left: 0;
    z-index: 2;
  }

  .artical {
    width: 320px;
    height: 430px;
    background-color: rgb(255, 255, 255);
    border-radius: 38px;
    overflow: hidden; /* 가상 요소가 요소 바깥으로 나가는 것을 방지 */
  }

  .artical::after {
    content: "";
    position: absolute;
    left: -10px; /* 그림자 위치 조정 */
    top: 10px;
    width: 320px;
    height: 430px;
    background-color: #f37423; /* 그림자 색상 및 투명도 조정 */
    border-radius: 38px;

    z-index: -1;
  }

  .artical2 {
    width: 320px;
    height: 430px;
    background-color: rgb(255, 255, 255);
    border-radius: 38px;
    overflow: hidden; /* 가상 요소가 요소 바깥으로 나가는 것을 방지 */
  }

  .artical2::after {
    content: "";
    position: absolute;
    left: -10px; /* 그림자 위치 조정 */
    top: 10px;
    width: 320px;
    height: 430px;
    background-color: #f2c6cf; /* 그림자 색상 및 투명도 조정 */
    border-radius: 38px;

    z-index: -1;
  }

  .artical3 {
    width: 320px;
    height: 430px;
    background-color: rgb(255, 255, 255);
    border-radius: 38px;
    overflow: hidden; /* 가상 요소가 요소 바깥으로 나가는 것을 방지 */
  }

  .artical3::after {
    content: "";
    position: absolute;
    left: -10px; /* 그림자 위치 조정 */
    top: 10px;
    width: 320px;
    height: 430px;
    background-color: #0075ff; /* 그림자 색상 및 투명도 조정 */
    border-radius: 38px;

    z-index: -1;
  }

  
  .date_div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #354555;
    color: white;
    display: flex; /* Flexbox를 활용합니다 */
    justify-content: center; /* 가로 방향에서 중앙 정렬 */
    align-items: center;
    margin-top: 17px;
    margin-left: 260px;
  }

  .date {
    font-size: 13px;
  }

  .artical_text {
    color: rgb(0, 0, 0);
    top: 10%;
    margin-left: 30px;
  }

  .artttx {
    font-size: 30px;
  }

  .artttx2 {
    font-size: 15px;
  }

  .artbtt {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* 버튼 사이의 간격을 10px로 설정 */
    margin-left: 270px;
    top: 25%;
    z-index: 3;
  }

  .webbtn {
    width: 97px;
    height: 30px;
    border-style: none;
    border-radius: 25.5px;
    background-color: #f19357;
    color: white;
    font-size: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

  .webbtn2 {
    width: 97px;
    height: 30px;
    border-style: none;
    border-radius: 25.5px;
    background-color: #f2c6cf;
    color: white;
    font-size: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: -20px;
  }

  .webbtn3 {
    width: 97px;
    height: 30px;
    border-style: none;
    border-radius: 25.5px;
    background-color: #0075ff;
    color: white;
    font-size: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

  .web1 {
    margin-top: 10px;
    margin-left: 18px;
  }

  .artical_hover {
    width: 330px;
    height: 430px;
    position: relative;
    cursor: none;
  }

  .view_container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  .view_text {
    position: absolute;
    visibility: hidden;
    pointer-events: none; /* 마우스 이벤트가 텍스트를 통과하도록 */
    position: absolute; /* 위치를 절대적으로 설정 */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 100px;
    backdrop-filter: blur(10px);
    display: flex; /* 항상 보이도록 설정 */
  }

  .last{
    width: 100%;
    height: auto;
    margin-top: -100px;
    padding-bottom: 0;
    
  }

  .wave-text {
    position: relative;
    display: inline-block;
    font-size: 3em; /* 원하는 글자 크기로 설정 */
    color: #ffffff;
  }
  
  .wave-text2{
    position: relative;
    display: inline-block;
    font-size: 3em; /* 원하는 글자 크기로 설정 */
    color: #ffffff;
    padding-left: 30%;
    padding-top: 0;
  }



  .nwttx {
    color: white;
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
  }

  .swiper {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    margin-bottom: 100px;
    z-index: 4;
  }
  
  .swiper-slide {
    width: 100%;
    text-align: center;
    font-size: 18px;
    background: #ffffff00;
  
    /* 이미지와 정보 바를 세로로 정렬하기 위한 스타일 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-wrapper{
    width: 100%;
  }

  .Image2, .Image3{
    display: none;
    }

  .swiper-slide img {
    width: 360px;
    height: 200px;
    border-radius: 10px;
    z-index: 4;
    padding-left: 20%;
    
  }
  
  .info-bar {
    height: 80px;
    display: none; /* Flexbox를 사용하여 자식 요소 정렬 */
    align-items: center; /* 수직 정렬 */
    justify-content: space-between; /* 좌우 끝으로 정렬 */
    opacity: 1; /* 투명하게 설정 */
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out; /* 전환 효과 추가 */
    max-height: 0; /* 숨긴 상태에서의 높이를 0으로 설정 */
    overflow: hidden; /* 숨김 처리 */
    padding: 0 20px; /* 텍스트와 바깥 경계 사이의 여백 추가 */
  }
  
  .swiper-slide:hover .info-bar {
    opacity: 1; /* 마우스 오버 시 불투명하게 설정 */
    max-height: 100px; /* 원하는 높이로 설정 */
  }
  
  .info-bar .left-text {
    text-align: left;
  }
  
  .info-bar .right-text {
    text-align: right;
  }
  
  .cdcontainer {
    width: 100%;
    justify-content: space-between;
    margin-inline: 1.5rem;
    padding-block: 5rem;
    color: white;
  }

  .card_container {
    display: flex;
    row-gap: 3.5rem;
    gap: 40px;
    padding-top: 100px;
    padding-left: 35px;
  }

  .artical_card {
    width: 10px; 
    position: absolute;
  }

  .artcd {
    padding-left: 200px;
    display: flex;
    gap: 40px;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .card_img {
    width: 282px;
    height: 178px;
    padding-top: 435px;
    margin-left: -100px;
    /*     border-radius: 1.5rem; */
  }

  .card_data{
  display: none;
  justify-content: space-between;
  align-items: '';
  width: 650px;
  height: 60px;
  background-color: blue;
  padding: 15px 20px;
  box-shadow: 0 8px 25px hsla(0, 0%, 0%, .15);
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transform: opacity 1s 1s;
}

.card_description{
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: .75rem;
  padding-top: 6px;
  font-size: 37px;
  font-family: "Oleo Script", system-ui;

}

.card_button{
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  font-size: 37px;


}

.card_button:hover{
  text-decoration: none;
}

.artical_card:hover .card_data{
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.artical_card:hover{
  animation: remove-overflow 2s forwards;
}

.artical_card:not(:hover){
  animation: show-overflow 2s forwards
}

.artical_card:not(:hover) .card_data{
  animation: remove-data 1s forwards
}


@keyframes show-data{
  50%{
    transform: translateY(-19rem);
  }
  100%{
    transform: translateY(-13rem);
  }
}

@keyframes remove-overflow{
  to{
    overflow: initial;
  }
}

@keyframes remove-data{
  0%{
    transform: translateY(-7rem);
  }
  50%{
    transform: translateY(-10rem);
  }
  0%{
    transform: translateY(.5rem);
  }
}

  .footer {
    position: relative;
    width: 100%;
    height: 0px;
    box-sizing: border-box;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 40px;
    padding-bottom: 0; 
  }


  .footerwrap {
    width: 100%;
    height: 350px;
    display: flex;
    background-color: #ffffff;
    border-radius: 6% 6% 0 0;
    margin-bottom: 0;
    padding-top: 0;
  }

  .footer-container {
    width: 100%;
    height: 300px;
    text-align: left;
    margin-left: -50px;
    margin-top: -360px;
  }

  .footer-container:last-child{
    margin-left: -160px;
  }

  .footer-container1 {
    display: none;
    width: 100%;
    height: 100%;
    text-align: left;
    margin-top: 380px;
  }

  .navigation-title {
    display: inline-block;
    margin-bottom: 0px;
    position: relative;
    text-align: left;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 16px;
    margin-top: 130px;
  }

  .navigation-title::after {
    content: "";
    position: absolute;
    width: 140%; /* 선의 길이 조절 */
    height: 1px;
    background-color: rgb(0, 0, 0);
    bottom: -5px;
    left: -1%; /* 선의 시작 위치를 조정하여 가운데 맞춤 */
    top: 30px;
  }

  .navigation-links {
    list-style-type: none;
    padding: 4px 0 0 0; /* 선과의 간격 조절 */
    text-align: left;
  }

  .navigation-links li {
    display: flex;
    margin-bottom: 5px; /* 링크 간의 간격 */
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 12px;
    line-height: 32px;
  }

  .icons1 {
    width: 30px;
    margin-top: 1px;
    cursor: pointer;
    display: none;
  }

  .icons1:hover + .iconttx {
    display: block;
  }

  .icons2:hover + .iconttx2 {
    display: block;
  }

  .icons2 {
    width: 30px;
    margin-top: 10px;
    cursor: pointer;
    display: none;
  }

  .iconttx {
    font-size: 12px;
    font-weight: 500;
    padding-left: 0px;
    display: block;
  }

  .iconttx2 {
    font-size: 12px;
    font-weight: 500;
    padding-left: 0px;
    padding-top: 10px;
    display: block;
    font-weight: 00;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    padding-top: 0px;
  }

  .container::before,
  .container::after {
    content: "";
    position: absolute;
    height: 3px; /* 선의 두께 */
    background-color: rgb(0, 0, 0); /* 선의 색상 */
    top: 24%;
    transform: translateY(-50%);
    z-index: 1;
  }

  .container::before {
    left: 0;
    right: 50%;
    margin-right: 10px; /* 문구와 선 사이의 간격 */
  }

  .container::after {
    right: 0;
    left: 50%;
    margin-left: 10px; /* 문구와 선 사이의 간격 */
  }

  .text {
    width: 210px; /* 화면 너비의 80% */
    height: 90px; /* 화면 높이의 20% */
    background-color: #ffffff;
    text-align: center;
    font-size: 10vw; /* 화면 너비의 10% */
    color: rgb(0, 0, 0); /* 문구 색상 */
    font-family: "League Gothic", sans-serif;
    z-index: 2;
  }

  .wave {
    margin-left: 10px;
    margin-right: 7px;
  }

  .won {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    background-image: url("image/waterwave.png");
    background-position: 30% -4%;
    background-repeat: no-repeat; /* 배경 이미지 설정 */
    border-style: none;
  }


  .cursor{
    display: none;
}

}


  /* 반응형 스타일링 */
  @media screen and (max-width: 412px){
.swiper-slide img {
  width: 340px;
  height: 200px;
  border-radius: 10px;
  z-index: 4;
  padding-left: 0;
}
  }

  @media screen and (max-width: 375px){
    .ui_container{
      padding-top: 20%;
    }

    .web_container {
      width: 100%;
      position: relative;
      margin-top: -930px;
    }
  
  
    .webwater {
      position: absolute;
      left: 33%;
      color: white;
      font-family: "League Gothic", sans-serif;
      font-weight: 400;
      font-size: 34px;
      text-align: center;
      padding-right: 0;
    }
  
    .artical_container {
      width: 100%;
      display: flex;
      position: relative;
    }
  
    .artical_web {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      position: relative;
      flex-wrap: wrap;
      gap: 60px;
      top: 165%;
      padding-left: 6%;
      z-index: 2;
    }
  
    .artical {
      width: 300px;
      height: 410px;
      background-color: rgb(255, 255, 255);
      border-radius: 38px;
      overflow: hidden; /* 가상 요소가 요소 바깥으로 나가는 것을 방지 */
    }
  
    .artical::after {
      content: "";
      position: absolute;
      left: -10px; /* 그림자 위치 조정 */
      top: 10px;
      width: 300px;
      height: 410px;
      background-color: #f37423; /* 그림자 색상 및 투명도 조정 */
      border-radius: 38px;
  
      z-index: -1;
    }
  
    .artical2 {
      width: 300px;
      height: 410px;
      background-color: rgb(255, 255, 255);
      border-radius: 38px;
      overflow: hidden; /* 가상 요소가 요소 바깥으로 나가는 것을 방지 */
    }
  
    .artical2::after {
      content: "";
      position: absolute;
      left: -10px; /* 그림자 위치 조정 */
      top: 10px;
      width: 300px;
      height: 410px;
      background-color: #f2c6cf; /* 그림자 색상 및 투명도 조정 */
      border-radius: 38px;
  
      z-index: -1;
    }
  
    .artical3 {
      width: 300px;
      height: 410px;
      background-color: rgb(255, 255, 255);
      border-radius: 38px;
      overflow: hidden; /* 가상 요소가 요소 바깥으로 나가는 것을 방지 */
    }
  
    .artical3::after {
      content: "";
      position: absolute;
      left: -10px; /* 그림자 위치 조정 */
      top: 10px;
      width: 300px;
      height: 410px;
      background-color: #0075ff; /* 그림자 색상 및 투명도 조정 */
      border-radius: 38px;
  
      z-index: -1;
    }
  
    
    .date_div {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #354555;
      color: white;
      display: flex; /* Flexbox를 활용합니다 */
      justify-content: center; /* 가로 방향에서 중앙 정렬 */
      align-items: center;
      margin-top: 17px;
      margin-left: 240px;
    }
  
    .date {
      font-size: 13px;
    }
  
    .artical_text {
      color: rgb(0, 0, 0);
      top: 10%;
      margin-left: 30px;
    }
  
    .artttx {
      font-size: 30px;
    }
  
    .artttx2 {
      font-size: 15px;
    }
  
    .artbtt {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px; /* 버튼 사이의 간격을 10px로 설정 */
      margin-left: 270px;
      top: 25%;
      z-index: 3;
    }
  
    .webbtn {
      width: 97px;
      height: 30px;
      border-style: none;
      border-radius: 25.5px;
      background-color: #f19357;
      color: white;
      font-size: 12px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      margin-left: -45px;
    }
  
    .webbtn2 {
      width: 97px;
      height: 30px;
      border-style: none;
      border-radius: 25.5px;
      background-color: #f2c6cf;
      color: white;
      font-size: 12px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      margin-left: -45px;
    }
  
    .webbtn3 {
      width: 97px;
      height: 30px;
      border-style: none;
      border-radius: 25.5px;
      background-color: #0075ff;
      color: white;
      font-size: 12px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      margin-left: -45px;
    }
  
    .web1 {
      width: 280px;
      margin-top: 20px;
      margin-left: -10px;
    }
  
    .artical_hover {
      width: 330px;
      height: 430px;
      position: relative;
      cursor: none;
    }
  
    .view_container {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
    }
  
    .view_text {
      position: absolute;
      visibility: hidden;
      pointer-events: none; /* 마우스 이벤트가 텍스트를 통과하도록 */
      position: absolute; /* 위치를 절대적으로 설정 */
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      justify-content: center;
      align-items: center;
      text-align: center;
      line-height: 100px;
      backdrop-filter: blur(10px);
      display: flex; /* 항상 보이도록 설정 */
    }
  
    .last{
      width: 100%;
      height: auto;
      margin-top: -100px;
      padding-bottom: 0;
      
    }
  
    .wave-text {
      position: relative;
      display: inline-block;
      font-size: 3em; /* 원하는 글자 크기로 설정 */
      color: #ffffff;
    }
    
    .wave-text2{
      position: relative;
      display: inline-block;
      font-size: 3em; /* 원하는 글자 크기로 설정 */
      color: #ffffff;
      padding-left: 30%;
      padding-top: 0;
    }

    .swiper-slide img {
      width: 325px;
      height: 200px;
      border-radius: 10px;
      z-index: 4;
      padding-left: 0;
    }
  }


  @media screen and (max-width: 350px){
    .swiper-slide img {
      width: 300px;
      height: 180px;
      border-radius: 10px;
      z-index: 4;
      padding-left: 0;
    }
    
    .ui_container{
      padding-top: 7%;
    }

      }


