@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Noto+Sans+KR:wght@100..900&family=Oleo+Script:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #141414;
    font-family: "Noto Sans KR", sans-serif;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.wrap{
    display: flex;
    justify-content: center;
    text-align: center;
}

.ttx{
    width: 100%;
    margin-top: 20%;
    text-align: left;
    color: white;
    margin-left: 50px;
    margin-top: 300px;
}

.ttx2{
    display: flex;
    margin-top: 20px;
}

.title{
    font-family: "League Gothic", sans-serif;
    font-size: 64px;
    font-weight: 300;
}

.ttx1{
    position: absolute;
    font-weight: lighter;
    z-index: 1;
    margin-left: 100px;
    margin-top: 40px;
}

.subttx{
    font-size: 16px;
    font-weight: 500;
}

.siteimg{
    margin-top: 10%;
    margin-left: -450px;
}

.site{
    width: 800px;
}

.close-btn {
    position: absolute;
    top: 100px; /* 상단에서 얼마나 떨어져 있을지 */
    right: 100px; /* 우측에서 얼마나 떨어져 있을지 */
    padding: 10px; /* 패딩 */
    width: 48px; /* 너비 */
    height: 48px; /* 높이 */
    background-color: FFFFFF; /* 배경색 */
    color: rgb(0, 0, 0); /* 글자색 */
    border: none; /* 테두리 없음 */
    cursor: pointer; /* 마우스 오버 시 커서 변경 */
    font-size: 16px; /* 글자 크기 */
    font-weight: bold; /* 글자 굵기 */
    border-radius: 50%; /* 원형 모양 */
    display: flex; /* Flexbox를 사용하여 */
    justify-content: center; /* 내용을 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
}

.close-btn i{
    color: black;
}

.backgroud{
    width: 760px;
    height: 280px;
    background-color: #0075FF;
    position: absolute;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: -100px;
    z-index: -1;

}

.overlaycon{
    display: none;
}

@media screen and (max-width: 430px) {
    
    .container{
        width: 430px;
        height: 900px;
        display: none;
        justify-content: center;
        text-align: center;
    }
    
    .wrap{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    .ttx{
        width: 100%;
        margin-top: 20%;
        text-align: left;
        color: white;
        margin-left: 50px;
        margin-top: 300px;
    }
    
    .ttx2{
        display: flex;
        margin-top: 20px;
    }
    
    .title{
        font-family: "League Gothic", sans-serif;
        font-size: 64px;
        font-weight: 300;
    }
    
    .ttx1{
        position: absolute;
        font-weight: lighter;
        z-index: 1;
        margin-left: 100px;
        margin-top: 40px;
        font-size: 12px;
    }
    
    .subttx{
        font-size: 16px;
        font-weight: 500;
    }
    
    .siteimg{
        margin-top: 10%;
        margin-left: 450px;
        position: absolute;
    }
    
    .site{
        width: 265px;
    }
    
    .close-btn {
        position: absolute;
        top: 100px; /* 상단에서 얼마나 떨어져 있을지 */
        right: 100px; /* 우측에서 얼마나 떨어져 있을지 */
        padding: 10px; /* 패딩 */
        width: 48px; /* 너비 */
        height: 48px; /* 높이 */
        background-color: FFFFFF; /* 배경색 */
        color: rgb(0, 0, 0); /* 글자색 */
        border: none; /* 테두리 없음 */
        cursor: pointer; /* 마우스 오버 시 커서 변경 */
        font-size: 16px; /* 글자 크기 */
        font-weight: bold; /* 글자 굵기 */
        border-radius: 50%; /* 원형 모양 */
        display: flex; /* Flexbox를 사용하여 */
        justify-content: center; /* 내용을 가운데 정렬 */
        align-items: center; /* 수직 가운데 정렬 */
    }
    
    .close-btn i{
        color: black;
    }
    
    .backgroud{
        width: 760px;
        height: 280px;
        background-color: #141414;
        position: absolute;
        border-radius: 30px;
        margin-top: 50px;
        margin-left: -100px;
        z-index: -1;
        
    }

    .overlaycon{
        width: 100%;
        height: 100%;
        display: block;
    }


    .overlaywrap{
        padding-top: 40%;
        padding-left: 15%;
        color: white;
    }

    .overlaywrap h3{
        font-size: 24px;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .overlaywrap p{
        font-weight: 300;
    }

    .overlaywrap:last-child{
        padding-bottom: 200px;
    }
    .overlaywrap img{
        width: 292px;
    }

    .close-btn2 {
        position: absolute;
        top: 60px; /* 상단에서 얼마나 떨어져 있을지 */
        right: 55px; /* 우측에서 얼마나 떨어져 있을지 */
        padding: 10px; /* 패딩 */
        width: 48px; /* 너비 */
        height: 48px; /* 높이 */
        background-color: FFFFFF; /* 배경색 */
        color: rgb(0, 0, 0); /* 글자색 */
        border: none; /* 테두리 없음 */
        cursor: pointer; /* 마우스 오버 시 커서 변경 */
        font-size: 16px; /* 글자 크기 */
        font-weight: bold; /* 글자 굵기 */
        border-radius: 50%; /* 원형 모양 */
        display: flex; /* Flexbox를 사용하여 */
        justify-content: center; /* 내용을 가운데 정렬 */
        align-items: center; /* 수직 가운데 정렬 */
    }
    
    .close-btn2 i{
        color: black;
    }
}